# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
db.sqlite3.backup

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/
.commandcode/
.claude/
